<h1>Questions#ask</h1>
    <form action="/answer" method="get" class="form-inline" text= text-center>
      <div class="form-group">
        <input class="form-control" type="text" name="question">
      </div>
      <div class="form-group">
        <input class="btn btn-medium" type="submit" value="Ask!">
      </div>
    </form>
